{% extends "base.html" %}

{% block content %}
 
<input class="flex" type="text" id="myInput" onkeyup="searchTable('memberTable')" placeholder="Search for names..">
<div class="container mt-4 mx-auto">
  <div id="grid" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
  {% for member in members  %}
  <div class="card m-2 cursor-pointer border border-gray-400 rounded-lg hover:shadow-md hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200">
      <div class="m-3">
        <h2 class="text-md mb-2">{{member.first_name}} {{member.last_name}}
        <span class="text-sm text-teal-800 font-mono bg-teal-100 inline rounded-full px-2 align-top float-right animate-pulse">ID: {{ member.id}}</span></h2>
      <p class="font-light font-mono text-sm text-gray-700 hover:text-gray-900 transition-all duration-200">Phone number: {{ member.phonenumber }}</p>
      <p class="font-light font-mono text-sm text-gray-700 hover:text-gray-900 transition-all duration-200">Phone number: {{ member.address }}</p>
      </div>
    </div>    
  {% endfor %}
  </div>
</div>

{% comment %} <div class="table w-full rounded-t-lg m-5 w-5/6 mx-auto bg-gray-800 text-gray-200">
  <div class="table-row-group">
    <div class="table-row">
        <tr class="bg-gray-700 border-b border-gray-600">
        <div class="px-4 py-3">{{member.id}}</div>
        <div class="px-4 py-3"></div>
        <div class="px-4 py-3"></div>
        <div class="px-4 py-3"></div>
        <tr class="bg-gray-700 border-b border-gray-600"></tr>   
    </div>
  </div>
</div> {% endcomment %}

<p class="text-lg text-center font-bold m-5">Members dog school</p>



<a href="/controller/member/create">create a new Member</a>
{% load static %}

<script src="{% static 'controller/searchTable.js'%}"></script>
{% endblock content %}

