{% extends "base.html" %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-fixed" style="background-image: url(https://sitmeanssit.com/dog-training-mu/houston-dog-training/files/2018/07/field-jumbo-bg.jpg)">
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
 
 <div class="w-full flex h-full fixed">
    <div class="w-1/2 h-max">
      <div class="w-2/3 bg-white m-auto justify-center mt-32 rounded-lg overflow-hidden shadow-2xl">
                <div class="p-8">
                    <form method="POST" class="" action="">
                    {% csrf_token %}
                        <div class="mb-5">
                          <input type="hidden" name="remember" value="true">
                            <label for="username" class="sr-only">nom d'utilisateur</label>
                            <input id="username" name="username" type="username" autocomplete="username" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Samy">
                        </div>
                
                        <div class="mb-5">
                           <label for="password" class="sr-only">Mot de passe</label>
                           <input id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="*******">
                        </div>

                        <button type="submit" class="w-full p-3 mt-4 bg-indigo-600 text-white rounded shadow">Se Connecter</button>
                    </form>
                </div>
                
                <div class="flex justify-between p-8 text-sm border-t border-gray-300 bg-gray-100">
                    <a href="#" class="font-medium text-indigo-500">Create account</a>

                    <a href="#" class="text-gray-600">Forgot password?</a>
                </div>
            </div>
    </div>
  </div>
</div>
{% endblock content %}