{% load static %}
{% if request.user.is_authenticated == True %}
<nav class="flex flex-wrap items-center justify-between p-5 bg-blue-200">      
<img src="https://static.wixstatic.com/media/97aaa6_05bad68c324f43c5ae6b464351433064~mv2.jpg/v1/fill/w_95,h_95,al_c,q_80,usm_0.66_1.00_0.01/97aaa6_05bad68c324f43c5ae6b464351433064~mv2.webp" alt="ACME" width="120" />  
<div class="flex md:hidden">
  <button id="hamburger">
    <img class="toggle block" src="https://img.icons8.com/fluent-systems-regular/2x/menu-squared-2.png" width="40" height="40" />
    <img class="toggle hidden" src="https://img.icons8.com/fluent-systems-regular/2x/close-window.png" width="40" height="40" />
  </button>
</div>
<div class="toggle hidden md:flex w-full md:w-auto text-right text-bold mt-5 md:mt-0 border-t-2 border-blue-900 md:border-none">        
  <a href="#" class="block md:inline-block text-blue-900 hover:text-blue-500 px-3 py-3 border-b-2 border-blue-900 md:border-none">Dashboard</a>
  <a href="#" class="block md:inline-block text-blue-900 hover:text-blue-500 px-3 py-3 border-b-2 border-blue-900 md:border-none">Members</a>
  <a href="#" class="block md:inline-block text-blue-900 hover:text-blue-500 px-3 py-3 border-b-2 border-blue-900 md:border-none">Dogs</a>
</div>

<a href="{% url 'logout' %}" class="toggle hidden md:flex w-full md:w-auto px-4 py-2 text-right bg-blue-900 hover:bg-blue-500 text-white md:rounded">Log out</a>
</nav>  
<script src="{% static 'navbar.js' %}"></script>
{% endif %}